# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment folders
env/
venv/
.venv/

# Model and large files
*.pt
*.pth
*.h5

# OS files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Temporary files
*.log
*.tmp
*.bak
